#banner{
    margin-top: 90px;
    width: 100vw;
    height: calc(100vh - 89px);
    display: flex;
    position: relative;
}
.scrolled-banner{
    position: relative;
    margin-top: calc(-100vh + 89px)!important;
    transition-duration: 2s;
}
#banner-cover{
    position: absolute;
    left: 0;
    height: calc(100vh - 89px);
    width: 62vw;
    z-index: 1;
}
#banner-image{
    margin-left: auto;
    width:78vw;
    z-index: 0;
}
#logotip{
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Hymala';
    font-size: 6rem;
    line-height: 121px;
    text-align: center;
    z-index: 3;
}
#logotip span{
    color:#ffffff;
    font-family: 'Tangerine';
    font-size: 3rem;
    font-weight: light;
}
.swipe-icon{
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.swipe-icon #mobile-swipe-image{
    display: none;
}
@media(max-width: 1580px){
    #banner-cover{
        height: calc(100vh - 60px);
        margin-top: -15px;
    }
    #logotip{
        font-size: 7rem;
        line-height: 3rem;
        top: 40%;
    }
    
    #logotip img{
        height: 8rem;
        width: 19rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
}

@media (max-width: 1040px){
    #logotip{
        font-size: 5rem;
        line-height: 3rem;
    }
    #logotip span{
        font-size: 4.5rem;
    }
}
@media (max-width: 780px){
    #banner-cover{
        width: 105vw;
    }
    #logotip{
        transform: translateX(-25%);
        left: 5vw;
        font-size: 4rem;
    }
    #logotip span{
        font-size: 3.5rem;
    }
    .swipe-icon{
        left: 22%;
    }
    .swipe-icon #mobile-swipe-image{
        display: unset;
    }
    .swipe-icon #desktop-swipe-image{
        display: none;
    }
}

@media (max-width: 600px){
    #banner{
        margin-top: 52px;
        height: calc(100vh - 47px);
    }
    #banner-cover{
        width: 90vw;
        height: calc(100vh - 13px);
    }
    #logotip{
        font-size: 3rem;
    }
    #logotip img{
        width: 60%;
        margin-left: 30px;
    }
    #logotip span{
        font-size: 2.5rem;
    }
}
@media (max-width: 300px){
    #logotip{
        font-size: 2rem;
    }
    #logotip span{
        font-size: 1.5rem;
    }
}