<app-nav-bar></app-nav-bar>
<div class="container">
  <app-landing></app-landing>
  <router-outlet></router-outlet>
</div>

<!--<canvas class="webgl"></canvas>
<div id="configurator">
  <div id="materials"><img src="assets/images/0514952862f94fe7b33dc47a825eabd4.jpg" alt="" class="selected"><img src="assets/images/ae26ca477023e37d34a98e4ecd21aabb.jpg" alt="" class=""><img src="assets/images/6fd6ccb990e459f4e7e66352ee1d13ea.jpg" alt="" class=""></div><br />
  <div id="colors"><img src="assets/images/e769cf3f844b576dcd31eb7d18dfa19c.jpg" alt="" class="selected"><img src="assets/images/7c819d11d2702501275b92a715363542.jpg" alt="" class=""><img src="assets/images/93f2754ed2eacaf7310f6a11f9bccc6b.jpg" alt="" class=""><img src="assets/images/53d3135c7eb2d2a67983c375045da75f.jpg" alt="" class=""><img src="assets/images/0efb86fc0c91ce12fda0916fab749cdc.jpg" alt="" class=""><img src="assets/images/4d1cfa53f268f4ed0759bcf16a3842ce.jpg" alt="" class=""></div>
</div>-->