.model{
    position: relative;
    width: 20vw;
    height: auto;
    margin: 0;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}
.model:hover{
    /*background: #f9f9f9;*/
    /*background: linear-gradient(230deg, rgba(255, 255, 255, 1) 80%, rgb(249, 249, 249) 100%);*/
    background: linear-gradient(230deg, rgb(236, 234, 234) 20%, #f9f9f9 100%);
    box-shadow: 5px -4px 5px 0px rgba(0,0,0,0.04);
    transition: 1s;
}
.model-image{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.model-title-box{
    position: absolute;
    bottom: -20px;
    right: 50px;
    left: 50px;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: left;
}
.model-title{
    font-family: 'Poppins';
    font-size: 1.8rem;
    color: black;
}
@media (max-width: 948px){
    .model{
        width: 40vw;
        height: 50vw;
        margin-top: 5vh;
    }
}

@media (max-width: 780px){
    .model{
        width: 80vw;
        height: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        margin-bottom: 0px;
    }
    .model-title-box{
        position: absolute;
        right: 50px;
        left: 50px;
        height: unset;
        bottom: unset;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .model-title{
        font-size: 7px;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 600px){
    .model{
        width: 80vw;
        height: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
    }
    .model-image{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 20px;
    }
    .model-title-box{
        position: absolute;
        right: 50px;
        left: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .model-title{
        font-size: 1.5rem;       
        width: 100%; 
        text-align: center;
    }
}