.threejs-viewer{
    position: relative;
}
#canvas{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
}
#configurator{
    position: sticky;
    margin-left: auto;
    top: 0px;
    right: 0;
    width: 20vw;
    z-index: 1;
    background-color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: -5px 7px 7px 7px rgba(0,0,0,0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 90px;
    margin-right: -100px;
    height: 90vh;
}

.selected{
    border: 3px solid yellow;
}
#configuration-title{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.8rem;
    color: #00ABAB;
}
#icons-title{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    cursor: pointer;
    margin-left: 5px;
}
/*.icon:nth-child(2){
    opacity: 0.3;
    cursor: default;
}
.icon:nth-child(3){
    opacity: 0.3;
    cursor: default;
}*/
.icon img{
    width: 90%;
}
.icon span{
    font-size: 11px;
    text-align: center;
}
#textures-title{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
#materials, #material{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#materials img, #material img{
    width: 56px;
    height: 56px;
    margin-right: 10px; 
}
#material div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-right: 10px;
    margin-top: 10px;
}
#material div span{
    font-size: 0.8rem;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}
#colors{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#colors div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-right: 10px;
    margin-top: 10px; 
}
#colors div span {
  text-align: center;
  margin-right: 10px;
  margin-top: 5px;
}
#colors-title{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
#colors img{
    width: 56px;
    height: 56px;
    margin-right: 10px; 
}
#order-title{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    font-size: 1.5rem;
    color: #00ABAB;
}
#order-button{
    height: 60px;
    width: 80%;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, #FFFFFF 1%, #00ABAB 20%, #00ABAB 74%, #FFFFFF 100%);
}
#order-button span{
    font-size: 21px;
    width: 80%;
    height: 100%;
    line-height: 60px;
    color: white;
    text-align: center;
    border-right: 1px solid white;
}
#order-button img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.selected-material{
    display: flex!important;
    margin-left: 5px;
    margin-right: 5px;
}
.not-selected-material{
    display: none!important;
}
#order-page{
    top:92px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4999;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
#order-page p{
  margin-top: 20px;
}
.display-none{
    display: none!important;
}
#order-page-container{
    max-width: 1536px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

#customization-info{
    background-color: white;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0 / 20%);
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #00ABAB;
}
#customization-info-title{
    margin-left: 8.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-left: 3px solid #00ABAB;
    padding-left: 2rem;
    color: #00ABAB;
    font-size: 23px;
    font-weight: bold;
}
#customization-info-title span{
    font-size: 20px;
    font-weight: lighter;
    color: black;
}
#customization-info-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
#customization-info-content img{
  width: 58px;
  height: 58px;
}
#sitting-part-info{
  display: flex;
  flex-direction: row;
}
#sitting-part-square{
  margin-right: 7px;
  margin-left: 7px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#sitting-part-square p{
  font-size: small;
}
#sitting-part-square span{
  font-size: small;
  opacity: 50%;
}
#side-part-info{
  display: flex;
  flex-direction: row;
}
#side-part-square{
  margin-right: 7px;
  margin-left: 7px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#side-part-square p{
  font-size: small;
}
#side-part-square span{
  font-size: small;
  opacity: 50%;
}
#leg-part-info{
  display: flex;
  flex-direction: row;
}
#leg-part-square{
  margin-right: 7px;
  margin-left: 7px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#leg-part-square p{
  font-size: small;
}
#leg-part-square span{
  font-size: small;
  opacity: 50%;
}
#personal-info{
    background-color: white;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0 / 20%);
    margin-bottom: 3rem;
    width: 100%;
    border: 1px solid #00ABAB;
}
#personal-info-title{
    margin-left: 8.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-left: 3px solid #00ABAB;
    padding-left: 2rem;
    color: #00ABAB;
    font-size: 23px;
    font-weight: bold;
}
#personal-info-title span{
    font-size: 20px;
    font-weight: lighter;
    color: black;
}
#personal-info-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
#user-info{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
#user-info div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
    height: fit-content;
}
#user-info div label span{
  color: red;
}
#description-div{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 35px;
    width: 20%;
}
#description{
    margin-bottom: 3.5rem;
}
#schedule-input-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5rem;
    padding-top: 38px;
    height: 300px;
    margin-top: 50px;
}
#from-time{
    margin-top: 1rem;
    width: 8vw;
    margin-bottom: 2rem;
}
#save-design-div{
    margin-right: auto;
    margin-left: 10px;
    color: white;
}
#save-design-div input{
    margin-right: 20px;
}
#save-design-div label {
  color: black;
}
#submit-order{
    color: white;
    width: 250px;
    height: 50px;
    background: white;
    background: linear-gradient(180deg, #FFFFFF 1%, #00ABAB 16%, #00ABAB 84%, #FFFFFF 100%);
    border-color: none;
    border-width: 0;
    border: #FFFFFF;
}
#order-request-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4rem;
    letter-spacing: 3rem;
    font-size: 5rem;
    width: 100vw;
    font-weight: 200;
    align-self: center;
}
/*LOADING*/

*.hidden {
    display: none !important;
  }
  
  div.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 1);
    z-index: 999999;
  }
  
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-ms-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes uil-ring-anim {
    0% {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .uil-ring-css {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
  }
  .uil-ring-css > div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 rgba(69,181,252,1);
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
  }
  /*LOADING*/

  #sent-request{
    top:92px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4999;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .sent-request-container{
    max-width: 1361px;
    width: 80vw;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: 5px 5px 1.5px 1px lightgrey;
    padding: 20px;
  }
  #X{
    margin-left: 85%;
    width: 15%;
    cursor: pointer;
    color: white;
    height: 60px;
    background: linear-gradient(180deg, #FFFFFF 1%, #00ABAB 20%, #00ABAB 74%, #FFFFFF 100%);
    border-color: none;
    border-width: 0;
  }
  #sent-request-title{
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: lighter;
    margin-bottom: 40px;
    text-align: center;
  }
  #sent-request-service{
    opacity: 70%;
    font-size: medium;
    font-family: 'Poppins';
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  #sent-request-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #social-medias-title{
    font-size: small;
    font-family: 'Poppins';
    font-weight: lighter;
  }
  .social-medias-icons img {
    margin-right: 10px;
    margin-left: 10px;
  }

  @media(max-width: 600px){

    

  .configurator-displayed{
    position: sticky!important;
    margin-left: -3vw!important;
    top: 0px!important;
    right: auto!important;
    width: 80vw!important;
    margin-top: 80px!important;
    margin-right: auto!important;
    height: 92vh!important;
    transition-duration: 1s!important;
  }
  .configurator-non-displayed{
    position: sticky!important;
    margin-left: -83vw!important;
    top:0px!important;
    right: auto!important;
    width: 80vw!important;
    margin-top: 80px!important;
    margin-right: auto!important;
    height: 95vh!important;
    transition-duration: 1s!important;
  }
  #arrows img{
    width: 8vw;
    height: 5vh;
  }
  .open{
    width: 5vw;
    height: 5vh;
    position: absolute;
    margin-top: -60vh;
    margin-left: 80vw;
    z-index: 2;
    transition-duration: 1s!important;
  }
  .close{
    width: 5vw;
    height: 5vh;
    position: absolute;
    margin-top: -60vh;
    margin-left: 0vw;
    z-index: 2;
    transition-duration: 1s!important;
  }
  .open img{
    transform: rotateY(180deg);
  }
    
    #customization-info{
      display: flex;
      flex-direction: column;
      padding-left: 0%;
    }
    #customization-info-title{
      margin-left: -60px;
      padding-left: 0.5rem;
      font-size: 18px;
      font-weight: bold;
    }
    #customization-info-title span{
      font-size: 15px;
      font-weight: lighter;
      color: black;
    }
    #customization-info-content{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 300px;
      max-width: 300px;
      margin-left: 0px;
      overflow: scroll;
      margin-bottom: 10px;
    }
    #personal-info{
      display: flex;
      flex-direction: column;
    }

    #personal-info-title{
      margin-left: 2.5rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
      padding-left: 1rem;
      font-size: 18px;
    }
    #personal-info-title span{
      font-size: 15px;
    }
    #personal-info-content{
      height: 20vh;
      width: 70vw;
      overflow: scroll;
      margin-left: 30px;
    }
    #user-info{
      width: 20%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 100%;
      position: static;
      font-size: x-small;
      padding-left: 0px;
      margin-left: 10px;
    }
    #user-info div{
      width: 20vw;
      margin-right: 2rem;
      height: fit-content;
    }
    #description-div{
      display: flex;
      flex-direction: column;
      height: 100px;
      margin-top: -70px;
      width: 30%;
      font-size: x-small;
      margin-left: 80px;
      position: static;
    }
    #description{
      margin-bottom: 1.5rem;
    }
    #schedule-input-div{
      font-size: x-small;
      margin-left: -8rem;
      padding-top: 18px;
      height: 100px;
      margin-top: 60px;
      position: static;
    }
    #from-time{
      margin-top: 0rem;
      width: 20vw;
      margin-bottom: 1rem;
    }
    #to-time{
      margin-top: 0rem;
      width: 20vw;
      margin-bottom: 1rem;
    }
    #save-design-div{
      margin-right: auto;
      margin-left: 10px;
      color: white;
    }
    #save-design-div input{
      margin-right: 20px;
    }
    #save-design-div label {
      color: black;
    }
    #submit-order{
      color: white;
      width: 250px;
      height: 50px;
      background: white;
      background: linear-gradient(180deg, #FFFFFF 1%, #00ABAB 20%, #00ABAB 74%, #FFFFFF 100%);
      border-color: none;
      border-width: 0;
      border: #FFFFFF;
    }
    #order-request-text{
      margin-top: 0.4rem;
      letter-spacing: 1rem;
      font-size: 2rem;
      width: 100vw;
      text-align: center;
      margin-left: -2rem;
    }

    #sent-request-title{
      font-size: 1rem;
      margin-bottom: 40px;
    }
    #checked{
      height: 100px;
      margin-bottom: 10px;
    }
    .social-medias-icons img{
      height: 20px;
    }
  }
