<div id="configurator" class="configurator-non-displayed">
    <p id="configuration-title">CONFIGURATION</p>
    <p id="icons-title">Choose Furniture Part</p>
    <div id="icons">        
        <div class="icon">
            <img class="selected" src="assets/images/configuration/icons/entire sofa.png" alt="" data-objects="Box004, Box003, Box002" data-isFabric = true>
            <span class="icon-label">Entire Sofa</span>
        </div>
        <div class="icon">
            <img src="assets/images/configuration/icons/sitting part.png" alt="" data-objects="Box003" data-isFabric = true>
            <span class="icon-label">Sitting Part</span>
        </div>
        <div class="icon">
            <img src="assets/images/configuration/icons/sofa sides.png" alt="" data-objects="Box003" data-isFabric = true>
            <span class="icon-label">Sofa Sides</span>
        </div>
        <div class="icon">
            <img src="assets/images/configuration/icons/sofa legs.png" alt="" data-objects="Object074" data-isFabric = false>
            <span class="icon-label">Sofa Legs</span>
        </div>
    </div>
    <p id="textures-title">Choose Texture :</p>
    <div id="materials" class="not-selected-material">
        <img src="assets/images/0514952862f94fe7b33dc47a825eabd4.jpg" alt="" class="selected" data-mappath="assets/textures/materijali/PH/">
        <img src="assets/images/a9114e6ce33c103256ca423b10381902.jpg" alt="" class="" data-mappath="assets/textures/materijali/Metal/">
    </div>
    <div id="material">
        <div class="selected-material" data-materialName="LUIS">
            <img src="assets/textures/materijali/LUIS 39.jpg" alt="" class="selected" data-mapPath="assets/textures/materijali/PH/">
            <span>LUIS</span>
        </div>
        <div class="selected-material" data-materialName="TEXAS">
            <img src="assets/textures/materijali/Texas 23.jpg" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>TEXAS</span>
        </div>
        <div class="selected-material" data-materialName="HARMONY">
            <img src="assets/textures/materijali/PH/A23DTEX_Albedo.jpg" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>HARMONY</span>
        </div>
        <!--<div data-materialName="SUEDE">
            <img src="assets/textures/materijali/Suede/A23DTEX_Albedo.jpg" alt="" data-mapPath="assets/textures/materijali/Suede/">
            <span>Suede</span>
        </div>
        <div data-materialName="GOLDEN">
            <img src="assets/textures/materijali/Golden/A23DTEX_Albedo.jpg" alt="" data-mapPath="assets/textures/materijali/Golden/">
            <span>Golden</span>
        </div>-->
    </div>
    <p id="colors-title">Choose color :</p>
    <div id="colors">
        <div class="selected-material" data-materialName="LUIS">
            <img src="assets/textures/materijali/LUIS 39.jpg" alt="" class="selected" data-mapPath="assets/textures/materijali/PH/">
            <span>GREEN</span>
        </div>
        <div class="selected-material" data-materialName="LUIS">
            <img src="assets/textures/materijali/LUIS 13.jpg" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>WHITE</span>
        </div>
        <div class="selected-material" data-materialName="LUIS">
            <img src="assets/textures/materijali/LUIS 77.jpg" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>BLUE</span>
        </div>
        
        <div class="not-selected-material" data-materialName="TEXAS">
            <img src="assets/textures/materijali/Texas 23.jpg" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>WHITE</span>
        </div>
        <div class="not-selected-material" data-materialName="TEXAS">
            <img src="assets/textures/materijali/Texas 91.jpg" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>BLUE</span>
        </div>
        <div class="not-selected-material" data-materialName="TEXAS">
            <img src="assets/textures/materijali/Texas 95.jpg" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>GREY</span>
        </div>

        <div class="not-selected-material" data-materialName="HARMONY">
            <img src="assets/textures/materijali/PH/A23DTEX_Albedo.jpg" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>BLUE</span>
        </div>
        <div class="not-selected-material" data-materialName="HARMONY">
            <img src="assets/textures/materijali/PH/Perfect Harmony brown.png" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>BROWN</span>
        </div>
        <div class="not-selected-material" data-materialName="HARMONY">
            <img src="assets/textures/materijali/PH/Perfect Harmony green.png" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>GREEN</span>
        </div>
        <div class="not-selected-material" data-materialName="HARMONY">
            <img src="assets/textures/materijali/PH/Perfect Harmony orange.png" alt="" class="" data-mapPath="assets/textures/materijali/PH/">
            <span>ORANGE</span>
        </div>

        
        <!--<div class="not-selected-material" data-materialName="SUEDE">
            <img src="assets/textures/materijali/Suede/A23DTEX_Albedo.jpg" alt="" data-mapPath="assets/textures/materijali/Suede/">
            <span>CREAM</span>
        </div>
        <div class="not-selected-material" data-materialName="SUEDE">
            <img src="assets/textures/materijali/Suede/sara bez.jpg" alt="" data-mapPath="assets/textures/materijali/Suede/">
            <span>WHITE</span>
        </div>
        <div class="not-selected-material" data-materialName="SUEDE">
            <img src="assets/textures/materijali/Suede/sara rblue.jpg" alt="" data-mapPath="assets/textures/materijali/Suede/">
            <span>BLUE</span>
        </div>
        <div class="not-selected-material" data-materialName="SUEDE">
            <img src="assets/textures/materijali/Suede/sara rose.jpg" alt="" data-mapPath="assets/textures/materijali/Suede/">
            <span>PINK</span>
        </div>
        
        
        <div class="not-selected-material" data-materialName="GOLDEN">
            <img src="assets/textures/materijali/Golden/A23DTEX_Albedo.jpg" alt="" data-mapPath="assets/textures/materijali/Golden/">
            <span>GOLD</span>
        </div>
        <div class="not-selected-material" data-materialName="GOLDEN">
            <img src="assets/textures/materijali/Golden/Zlatna sara crn.jpg" alt="" data-mapPath="assets/textures/materijali/Golden/">
            <span>CRN</span>
        </div>
        <div class="not-selected-material" data-materialName="GOLDEN">
            <img src="assets/textures/materijali/Golden/Zlatna sara krem.jpg" alt="" data-mapPath="assets/textures/materijali/Golden/">
            <span>CREAM</span>
        </div>
        <div class="not-selected-material" data-materialName="GOLDEN">
            <img src="assets/textures/materijali/Golden/Zlatna sara plava.jpg" alt="" data-mapPath="assets/textures/materijali/Golden/">
            <span>BLUE</span>
        </div>-->
    </div>
    <p id="order-title">FINISH CONFIGURATION</p>
    <div id="order-button" (click)="openOrderPage()"><span style=" font-weight: 100;">order request</span><img src="assets/images/configuration/Arrow-right.png" alt=""></div>
    
</div>
<span id="arrows" class="close"><img src="assets/images/arrows/tripleArrows.png" /></span>



<div class="loading">
    <div class='uil-ring-css' style='transform:scale(0.79);'>
      <div></div>
    </div>
  </div>
<canvas id="canvas" class="webgl"></canvas>
<div id="order-page" class="display-none">
    <div id="order-page-container">
        <p>Thank you for using Cimo Configurator Service!</p>
        <div id="customization-info">
            <p id="customization-info-title">Your customization <br><span>Zone Set Furniture</span></p>
            <div id="customization-info-content">
                <div id="sitting-part-info">
                    <div id="sitting-part-square">
                        <p>Part</p>
                        <img src="assets/images/configuration/icons/sitting part.png" alt="">
                    </div>
                    <div id="sitting-part-square">
                        <p>Texture</p>
                        <img src="assets/images/configuration/icons/sitting part.png" alt="">
                        <span>Leather</span>
                    </div>
                    <div id="sitting-part-square">
                        <p>Color</p>
                        <img src="assets/images/configuration/icons/sitting part.png" alt="">
                        <span>Sea</span>
                    </div>
                </div>
                <div id="side-part-info">
                    <div id="side-part-square">
                        <p>Part</p>
                        <img src="assets/images/configuration/icons/sofa sides.png" alt="">
                    </div>
                    <div id="side-part-square">
                        <p>Texture</p>
                        <img src="assets/images/configuration/icons/sofa sides.png" alt="">
                        <span>Leather</span>
                    </div>
                    <div id="side-part-square">
                        <p>Color</p>
                        <img src="assets/images/configuration/icons/sofa sides.png" alt="">
                        <span>Pink</span>
                    </div>
                </div>
                <div id="leg-part-info">
                    <div id="leg-part-square">
                        <p>Part</p>
                        <img src="assets/images/configuration/icons/sofa legs.png" alt="">
                    </div>
                    <div id="leg-part-square">
                        <p>Texture</p>
                        <img src="assets/images/configuration/icons/sofa legs.png" alt="">
                        <span>Leather</span>
                    </div>
                    <div id="leg-part-square">
                        <p>Color</p>
                        <img src="assets/images/configuration/icons/sofa legs.png" alt="">
                        <span>Peach</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="personal-info">
            <p id="personal-info-title">Personal information <br><span>Our contact service will contact you soon</span></p>
            <div id="personal-info-content">
                <div id="user-info">
                    <div>
                        <label for="name">Name <span>*</span> </label> 
                        <input type="text" name="name" id="name">
                    </div>
                    
                    <div>
                        <label for="surname">Surname <span>*</span></label>
                        <input type="text" name="surname" id="surname">
                    </div>
                    <div>
                        <label for="phone">Phone number <span>*</span></label>
                        <input type="tel" name="phone" id="phone">
                    </div>  
                    <div>
                        <label for="email">Email address <span>*</span></label>
                        <input type="email" name="email" id="email">
                    </div>
                </div>
                <div id="description-div">
                    <label for="description">request description (optional)</label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </div>            
                <div id="schedule-input-div">
                    <label for="call">schedule call between (optional)</label>
                    <input type="time" id="from-time" value="12:00" min="00:00" max="24:00" />
                    <input type="time" id="to-time" value="17:00" min="00:00" max="24:00" />
                </div>
            </div>
        </div>
        
        <div id="save-design-div">
            <input type="checkbox" name="" id="save-design"><label for="save-design">Save design as pdf</label>
        </div>
        <button id="submit-order" (click)="openSentRequestPage()">SUBMIT</button>
        <div id="order-request-text">ORDER REQUEST</div>
    </div>    
</div>

<div id="sent-request" class="display-none">
    <div class="sent-request-container">
        <button id="X" (click)="restartApp()">Configure another model</button>
        <p id="sent-request-title">ORDER REQUEST SENT SUCCESSFULLY</p>
        <div id="sent-request-content">
            <img src="assets/images/icons/check.png" id="checked"/>
            <p>Thank you for your order request!</p>
            <p id="sent-request-service">Our customer service will contact you soon</p>
        </div>
        <p id="social-medias-title">Follow us on social medias</p>
        <div class="social-medias-icons">
            <img src="assets/images/icons/instagram.png" />
            <img src="assets/images/icons/x.png" />
            <img src="assets/images/icons/tiktok.png" />
        </div>
    </div>
</div>