<div *ngIf="categories.length === 0; else showCategories">
    There is nothing to select yet.
</div>

<ng-template #showCategories>
    <div class="scroll-list-view">
        <button class="arrow" id="prev">&lt;</button>
        <div class="list-view ">
            <app-category *ngFor="let category of categories"
            [title] = "category.title"
            [imagePath] = "category.imagePath"
            [id] = "category.id"
            >
            </app-category>
        </div>
        <button class="arrow" id="next">&gt;</button>
    </div>
    <p class="choose-text"><span>CHOOSE CATEGORY</span></p>
</ng-template>