.choose-text{
    letter-spacing: 3rem;
    font-size: 5rem;
    text-align: center;
    color: white;
    font-weight: 100;
}
.scroll-list-view{
    height: 50vh;
    width: 95.7vw;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    align-self: center;
    white-space: nowrap;
}
.list-view{
    min-height: 70vh;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-x: scroll!important;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.5s ease;
    margin-left: 3vw;
    margin-right: 3vw;
    &::-webkit-scrollbar {
        display: none;
      }
      scroll-behavior: smooth;
}
.list-mobile{
    display: none;
}
.arrow{
    height: 30px;
    margin-top: 20vh;
    border: none;
    background-color: transparent;
    color: aliceblue;
}
@media (max-width: 1580px){
    .choose-text span{
        display: none;
    }
    .choose-text:after{
        content: "CHOOSE CATEGORY";
        font-size: 3rem;
        letter-spacing: 1.5rem;
    }
}
@media (max-width: 780px){
    .choose-text span{
        display: none;
    }
    .choose-text:after{
        content: "CATEGORY";
        font-size: 2rem;
        letter-spacing: 1rem;
    }
    app-category{
        margin-right: 3.5rem;
        width: 20rem!important;
        flex-basis: 50%;
    }
    .scroll-list-view{
        height: unset;
        width: unset;
        display: unset;
        flex-direction: unset;
        padding-left: unset;
        padding-top: unset;
        padding-right: unset;
        padding-bottom: unset;
        align-self: unset;
        white-space: unset;
        
    }
    .list-view{
        min-height: unset;
        display: block;
        column-count: 2;
        justify-content: unset;
        padding-right: unset;
        overflow: hidden;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-fill: balance;
        margin-top: 0px;
        padding-top: 0px;
    }
    app-category{
        margin: 10px;
    }
}
@media(max-width: 600px){
    .row{
        margin: 0;
    }
    .choose-text:after{
        font-size: 2rem;
        letter-spacing: 1.5rem;
    }
    .arrow{
        display: none;
    }
    
}

@media(max-width: 400px){
    .choose-text:after{
        font-size: 1.1rem;
        
        letter-spacing: 1.8rem;
    }
}

